version: '3.9'
services:
  mongo:
    image: mongo:7
    container_name: mush-mongo
    restart: unless-stopped
    ports:
      - "38130:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: mush
      MONGO_INITDB_ROOT_PASSWORD: password1234
    volumes:
      - mongo_data:/data/db
      - ./mongo-init:/docker-entrypoint-initdb.d:ro
    networks:
      - app-network

  neo4j: 
    image: neo4j:5
    container_name: mush-neo4j
    environment:
      NEO4J_AUTH: neo4j/password1234
    ports:
      - "7474:7474"
      - "7687:7687"
    volumes:
      - neo4j-data:/data
    networks:
      - app-network

  backend-service:
    build:
      context: ./Backend
      dockerfile: Dockerfile
    container_name: mush-backend
    restart: unless-stopped
    ports:
      - "3000:3000"
    # environment:
    #   MONGO_URI: mongodb://mush:password1234@mongodb-service:27017
    #   NEO4J_URI: bolt://neo4j-service:7687
    #   NEO4J_USER: neo4j
    #   NEO4J_PASSWORD: password1234
    #   NODE_ENV: development
    depends_on:
      - mongodb-service
      - neo4j-service
    volumes:
      - ./Backend:/usr/src/app
      - /usr/src/app/node_modules
    command: npm run start:dev
    networks:
      - app-network

  # frontend-service:
  #   build:
  #     context: ./Frontend
  #     dockerfile: Dockerfile
  #   container_name: mush-frontend
  #   restart: unless-stopped
  #   ports:
  #     - "5173:8000" # puerto local 5173 (puede ser 8080) -> Nginx interno
  #   depends_on:
  #     - backend-service
  #   networks:
  #     - app-network

volumes:
  neo4j-data:

networks:
  app-network:
    driver: bridge